.tweetbox {
  margin-top: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex: 1;
  flex-direction: column;
}
.bottomBorder {
  height: 8px;
  background-color: var(--element-bg-color);
  border-bottom: 1px solid var(--border-color);
}
.tweetboxRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}
.tweetboxUserIcon {
  flex: 0.1;
}
.tweetbox-input-row {
  display: flex;
  flex-direction: column;
  flex: 0.9;
}
.tweetbox-input {
  border-radius: 10px;
  border: none;
  background-color: var(--main-bg-color);
  color: #ffffff;
  font-size: 19px;
  line-height: 24.9375px;
}

.tweetboxOptions {
  flex: 0.9;
  display: flex;
  flex-direction: row;
  align-items: center;
  fill: var(--blue);
}

.tweetboxOptionIcon {
  padding: 10px;
}
.tweetboxOptionIcon:hover {
  background-color: var(--hover-blue-color);
  border-radius: 9999px;
}

.tweetbox-button {
  margin-top: 5px;
  margin-left: auto;
  background-color: var(--blue);
  border-radius: 9999px;
  color: white;
  font-weight: 900;
  font-size: 15px;
  padding: 10px 15px;
}
