.container {
  display: flex;
  background-color: #15202b;
  height: 100vh;
}

.panel {
  margin: 15px auto auto auto;
  max-width: 400px;
  padding: 0px 15px;
}

.panelHeader {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
}

.panelHeaderText {
  color: #ffffff;
  display: inline;
  font-size: 30px;
  font-weight: 700;
  line-height: 39.375px;
  font-family: Chirp, Verdana, System;
  margin-top: 36px;
}
.inputs {
  padding: 0px 15px;
}

.loginBtn {
  background-color: #1da1f2!important;
  border-color: #000000!important;
  border-radius: 9999px!important;
  border-style: solid!important;
  border-width: 1px!important;
  display: flex!important;
  flex-direction: column!important;
  margin: 10px!important;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  text-decoration: none!important;
}

.loginText {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.loginLinks {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

.link {
  color: #1b95e0;
}

.point {
  color: white;
  margin: 5px;
}
